doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/reveal.js/css/reveal.css')
    link(rel='stylesheet', href='/reveal.js/css/theme/black.css')
    link(rel='stylesheet', href='/reveal.js/lib/css/zenburn.css')
  body
    block content

  script(type='text/javascript', src='/reveal.js/js/reveal.js')
  script(type='text/javascript', src='/reveal.js/lib/js/head.min.js')
  script(type='text/javascript').
    Reveal.initialize({
      dependencies: [
          { src: '/reveal.js/plugin/markdown/marked.js' },
          { src: '/reveal.js/plugin/markdown/markdown.js' },
          { src: '/reveal.js/plugin/notes/notes.js', async: true },
          { src: '/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ]
    });
